doctype html
html
    head
        meta(charset="utf-8")
        title 게시판
        link(rel="stylesheet", href="/css/home.css")
    body
        .container
            ul
                .row
                    li 제목
                    li 작성일
            each post in posts
                .row
                    li
                        a(href="post/"+post.id)= post.title
                    li #{moment(post.date).format('YYYY/MM/DD')}
            .post-btn
                a(href="post/new")
                    button 글 작성